@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;900&display=swap');

:root {
    --white-color: #fff;
    --black-color: #111;
    --gray-color: #979797;
    --app-height: 100vh;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    background-color: var(--white-color);
    transition: all .5s ease;
}

body.darkTheme {
    color: var(--white-color);
    background-color: var(--black-color);
}

button {
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    background-color: var(--black-color);
    color: var(--white-color);
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.darkTheme button {
    color: var(--black-color);
    background: var(--white-color);
}

form {
    margin-top: 10vh;
}

form .hidden {
    visibility: hidden;
    height: 0;
}

.form-element {
    position: relative;
    margin-bottom: 2.5rem;
    width: 300px;
}

input, textarea {
    /* -webkit-appearance: none; */
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--gray-color);
    padding: 5px 0;
    width: 100%;
    color: var(--black-color);
}

textarea {
    height: 10vh;
    font-size: 16px;
}

.darkTheme input,
.darkTheme textarea {
    color: var(--white-color);
}

input:focus,
textarea:focus {
    border-color: var(--black-color);
}

.darkTheme input:focus,
.darkTheme textarea:focus {
    border-color: var(--white-color)
}

label {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    transition: all .4s ease;
}

input:valid + label,
input:focus + label {
    transform: translateY(-18px);
    font-size: 14px;
    color: var(--gray-color);
}

input[type="submit"] {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin-top: 2rem;
    border: 1px solid black;
    background-color: var(--black-color);
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

input[type="submit"]:hover {
    background: transparent;
    border-color: var(--black-color);
    color: var(--black-color);
}

.darkTheme input[type="submit"] { 
    background-color: var(--white-color);
    color: var(--black-color);
}

.darkTheme input[type="submit"]:hover { 
    background-color: transparent;
    border-color: var(--white-color);
    color: var(--ligh-color);
}